@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Quizzyblue";
}
@*<h1>Welcome to @ViewData["Title"]</h1>*@
<div style="padding-right:100px;padding-top:100px;margin-left:-0px;height:500px;float:left">
    <img src="~/logo.png" alt="Quiz" height="250" widht="300" />
</div>
<div style="padding-left: 100px; padding-top: 100px">
    <h1 class="mb-5">@ViewBag.welcome</h1>
    <partial name="_indexpartial" />
</div>
